name: Build [All]

on:
  workflow_dispatch:
  push:
    paths:
      - 'installer/**'
      - 'installer_res/**'
      - '.github/workflows/compile-core.yml'
  schedule:
    - cron: "0 15 1 * *"

jobs:
  build-packages:
    runs-on: ubuntu-latest
    container: ps2dev/ps2dev:v1.0
    steps:
      - name: Install dependencies
        run: apk add --no-cache build-base git zip p7zip

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set short SHA environment variable
        run: |
          echo "SHA8=${GITHUB_SHA::8}" >> $GITHUB_ENV

      - name: Compile
        run: |
          cd installer
          make rebuild FMCB_INSTALLER_VERSION=${{ env.SHA8 }} EE_BIN_DIR=../installer_res/
          make rebuild FMCB_INSTALLER_VERSION=${{ env.SHA8 }} EE_BIN_DIR=../installer_res/ EXFAT=1

      - name: Prepare folder for Release
        run: |
          cd installer_res
          chmod +x ./pack.sh
          ./pack.sh
          mkdir -p ../release_artifacts
          mv FMCB*.7z ../release_artifacts/

      - name: Upload artifact
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: FMCB-${{ env.SHA8 }}
          path: release_artifacts/FMCB*.7z

      - name: Create release
        if: github.ref == 'refs/heads/master'
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          title: "FreeMcBoot"
          files: |
            release_artifacts/FMCB*.7z
